@import "tailwindcss";

@layer components {
  .bg-primary {
    @apply bg-blue-950;
  }

  .bg-secondary {
    @apply bg-blue-900;
  }

  .btn-primary {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-white hover:text-blue-700 transition;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-700 py-2 px-4 rounded-lg hover:bg-gray-300;
  }

  .btn-outline {
    @apply border border-white text-white font-semibold py-2 px-4 rounded-lg hover:bg-white hover:text-black transition;
  }
  .btn-outline-secondary {
    @apply border border-blue-900 text-slate-900 font-semibold py-2 px-4 rounded-lg hover:bg-slate-800 hover:text-slate-50 transition;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html::-webkit-scrollbar {
  width: 30px;
}
html::-webkit-scrollbar-track {
  background: #172554;
}
html::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 6px;
  border: 3px solid #1c2f6f;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a:not(.btn-outline-secondary) {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}


a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}
